body{
    background-color: #139de2;
}
form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    box-shadow: 0px 2px 5px #999;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="email"], select {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006699;
}